@using jewellery.Data.Models 
<h1>Лучшие украшения</h1>
   
    <div class="row mt-2 mb-4">
    @{
        foreach(Jewelry jewelry in Model.favJewelry)
        {
        @Html.Partial("AllJewelry", jewelry)
        }
    }
    </div>